/*color*/
$serene-white:#fff;
$light-grey: #ccc;

$sea-green:#0b563d;


/*margin, padding*/

$m10: 10px;
$m20: 20px;

$p10: 10px;
$p20: 20px;

/*div , images*/
$pos-center: center;
$border-zero: none;
$pointer: pointer;
$background-repeat-none: no-repeat;

/*flex-box*/

$direction-row: row;
$direction-col: column;
$flex: flex;
$wrap: wrap;

/*font-weight*/

$font-wt-mid: 500